body {
  /*background-image: 'url("./images/bg.jpg")';*/
  font-family: Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.image-holder {
  text-align: center;
  display: block;
  margin: auto;
  background-color:rgb(38.8%, 55.3%, 71%);
  height: 1000px;
  width: 800px;
}

.img {
  padding-top: 50px;
  text-align: center;
  display: block;
  margin: auto;
  max-width: 600px;
  max-height: 400px;
}

.btn {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  background-color: rgb(86.9%, 18.5%, 87.8%);
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
  transition: all 0.07s;
}

.score {
  display: inline-block;
  margin: 10px;
  font-size: 24px;
  color: white;
}